<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
            <script src="/static/game.js" defer></script>

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<div class="container">
    <header class="header">{% block header %}{% endblock %}</header>
    <nav class="nav">{% block nav %}{% endblock %}</nav>
    <main class="main">{% block main %}{% endblock %}</main>
    <footer class="footer">
        {% block footer %}
            <p>&copy; Copyright 2023 by Marta, Lukasz, Monika, Nikola </p>



    {% endblock %}
</footer>
</div>
</body>
</html>
