{% extends 'layout_table.html' %}
{% block title %}Login{% endblock %}

{% block header %}
<h1>JS game</h1>
{% endblock %}

{% block nav %}
     <ul><li><a href="/">Main page</a></li></ul>
{% endblock %}

{% block main %}
    <h2>Login</h2>
     <p class="errors">
     {{ errors }}
    </p>

    <form action="/login" method="post">

        <label for="player_name_email">Player name or email: </label>
        <input id="player_name_email" name="player_name_email" type="text" maxlength="50" size="30" required>

        <label for="password"> Password: </label>
        <input id="password" name="password" type="password" maxlength="20" minlength="3" size="30" required>
        <br>
        <button id="login" type="submit" value="Login">Login</button>

    </form>
    <br><br><br>
{% endblock %}

