{% extends 'layout_table.html' %}
{% block title %}Puzzle Main{% endblock %}

{% block header %}
<h1>Let's play Puzzle</h1>
{% endblock %}

{% block nav %}
    {% if is_logged %}
     <ul>
         <li class="logged_players"> Hello {{ session['player_name_email']  }}!</li>
         <li><a href="/logout">Logout</a><li>
         <li><a href="/players">Players</a></li>
         <li class="newGame"><a  href="/difficulty_games">New game</a></li>
     </ul>
    {% else %}
        <ul>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block main %}
{% endblock %}

