{% extends 'layout_table.html' %}
{% block title %}Registration{% endblock %}

{% block header %}
<h1>JS game</h1>
{% endblock %}

{% block nav %}
     <ul><li><a href="/">Main page</a></li></ul>
{% endblock %}

{% block main %}
    <h2>Registration</h2>
    <div class="errors">
     {{ errors }}
    </div>

       <form action="/registration" method="post">
       <label for="player_name">Player name: </label>
            <input id="player_name" name="player_name" type="text" maxlength="50" size="30" required>

       <label for="email"> E-mail: </label>
            <input id="email" name="email" type="email" maxlength="30" size="30" required>

       <label for="password"> Password: </label>
            <input id="password" name="password" type="password" maxlength="20" minlength="3" size="30" required>

       <label for="repeat_password"> Repeat password: </label>
            <input id="repeat_password" name="repeat_password" type="password" maxlength="20" size="30" minlength="3" required>
        <br>
           <button id="register" type="submit" value="Register" >Register</button>
        </form>
{% endblock %}

